button.button-like,button.button-dislike{
     box-sizing: border-box;

     background: none;
     
     border-radius: 2px;
     border: none;
     color: rgb(146, 146, 146);

     font-weight: bold;
     font-size: 25px;

     cursor: pointer;
     outline: none;
     transition: all 0.2s;
}
button.button-like.active,button.button-dislike.active{
     color: blue;
}

button.button-remove{
     font-weight: bold;
     font-size: 14px;
     
     border: 1px solid rgb(255, 0, 0);
     border-radius: 3px;
     padding: 2px 5px;

     background: none;
     color: rgb(255, 0, 128);

     cursor: pointer;
     outline: none;

     transition: all 0.3s;
}

button.button-remove:hover{
     color: #fff;
     background: rgb(255, 0, 128);
}