.search-bar{
     position: relative;
     display: flex;
     flex-direction: column;
     width: 400px;
     margin: 30px auto 20px auto;
}

.search-bar .search-title{
     font-size: 20px;
     font-weight: 600;
     letter-spacing: 1px;
     margin-bottom: 5px;
}
.Select {
     background-color: #fff;
     border: none;
     border-bottom: solid 1px rgb(146, 145, 145);
     width: 100%;
     margin: 0;
     font-family: inherit;
     font-size: inherit;
     cursor: inherit;
     line-height: inherit;
   }