.next-previous{
     position: relative;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     margin: 0 auto;
     margin-bottom: 20px;
}

.button-next-previous{
     outline: none;
     border: none;

     cursor: pointer;
     font-size: 40px;
     margin: 0 5px;
     transition: all 0.2s;
}



.content-next-previous{
     font-size: 16px;
     margin: 6px 5px 0 5px;
}