.list-card{
     display: grid;
     grid-template-columns: repeat( auto-fit, 250px );
     grid-gap: 10px;
     justify-content: center;
     align-items: center;
     margin: 0 auto;
     width: 90%;
     margin-bottom: 20px;
}

.list-card .card-element{
     margin: 0 auto;
}
